train*/*
*.pdf
*.pyc
*.cg
*.out
*.log
*.err
*.pylog
*.vglog
*timings*.json
timing*.json
*.[eo][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
*.png
.DS_Store
*.hdf
*.x

profiling/workbench/**/*.txt
profiling/workbench/**/*.trace
profiling/workbench/**/Trace*.run
# forgot what this does exactly, but I have it on my laptop and not sure whether allowed to publish:
profiling/workbench/vincemark_Sep6/workspace.root
*argument_string_list*.txt
profiling/numIntSet_timing/tmp

rootbench/*.nikhef.nl*

.ipynb_checkpoints

.vscode

testing/zmq